.page {

}

.page__header {


}

.page__body {
  display: flex;
  justify-content: space-between;
}

.page__main {
  flex-grow: 1;
}

.page__sidebar {
  display: flex;
  flex-direction: column;
  padding-left: $space;
  width: $space * 30;
}

.page__sidebar-section {
  padding: $space;
  border: 1px solid $light-grey;
  margin-bottom: $space;
}
