// colors
$brand-color: #DC143C;
$very-dark-grey: #222222;
$dark-grey: #777777;
$light-grey: #e8e8e8;
$error: #cc0000;

// spacing
$space: 1rem;
$max-width: 99rem;

// fonts
$base-font-size: 1.4rem;
$font_color: #555;

// header
$header-bg: $brand-color;
$header-color: white;

// button
$button-bg: $brand-color;
$button-color: #ffffff;
$button-secondary-border-color: $dark-grey;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;

// boxed-view
$boxed-view-overlay-bg: white;
$boxed-view-bg: $light-grey;
